<div class="footerContainer">
    <div class="footerTop">
      <ul class="openingHoursList">
          <a class="openingHoursTitle openingHours" href="../jobs.ejs">We are hiring!</a>            
          <br><br>
          <a class="openingHoursTitle openingHours" href="">Love our pizza? Recommend us to a friend!</a>
          <br><br>
          <a class="openingHoursTitle openingHours" href="../signUp.ejs">Sign up</a>
          <br><br>
          <a class="openingHoursTitle openingHours" href="../signIn.ejs">Sign in</a>
          <br><br>
          <a class="openingHoursTitle openingHours" href="../makeOwnPizza.ejs">Make your own pizza</a>
      </ul>
      <img
        src="../../Media/Main images/WebsiteLogo.png"
        alt=""
        class="footerLogo"
      />
      <div>
        <div class="footerSocial">
          <p class="findUsOn">You can find us on:</p>
          <div class="footerSocialLinks">
            <span
              class="iconify"
              data-icon="akar-icons:facebook-fill"
              style="color: white"
            ></span>
            <span
              class="iconify"
              data-icon="akar-icons:instagram-fill"
              style="color: white"
            ></span>
            <span
              class="iconify"
              data-icon="simple-icons:zomato"
              style="color: white"
            ></span>
            <span
              class="iconify"
              data-icon="akar-icons:twitter-fill"
              style="color: white"
            ></span>
          </div>
          <br><br>
          <p id="email" style="color: white"></p>
        </div>
      </div>
    </div>
    <div class="footerBottom">
      <p class="footerCatchyText">
        Making the best pizza in town since 1980
      </p>
      <p class="footerCopyRight">
        The Corner Pizzeria<sup>&copy</sup> 2021. All rights reserved.
      </p>



    </div>
  </div>