<div class="mainHeader">
    <nav class="navLinks">
      <ul>
        <li>
          <a href="/index"
            ><img
              src="../Media/Main images/WebsiteLogo.png"
              alt="Restaurant Logo"
              class="mainLogo"
          /></a>
        </li>
        <li><a href="../index.ejs">Home</a></li>
        <li><a href="../aboutUs.ejs">About Us</a></li>
        <li><a href="../ourMenu.ejs">Our Menu</a></li>
        <li><a href="../contactUs.ejs">Contact Us / Order</a></li>
        <li><a href="../reviews.ejs">Reviews</a></li>
        <li><a href="/processLogOut">Logout</a></li>
        <li><a href="../processDelete">Delete your account</a></li>
        <li><a href="../processUpdate">Update your account</a></li>
      </ul>
    </nav>
  </div>